.login {
	width: 100%;
	padding: 0 0 2rem;
}

.login .login-header {
	margin-bottom: 2rem;
}

.login .login-header img {
	width: 30%;
	min-width: 200px;
	max-width: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.login .login-header h3 {
	text-align: center;
	margin-top: -0.5rem;
}

.login .login-body {
	padding: 1rem 2rem;
	border-radius: 1rem;
	color: #fff;
	background: var(--main-dark-color);
	max-width: 800px;
	margin: 0 auto;
}

.login .login-body p {
	color: #ddd;
}

.login .login-body h3 {
	margin: 1rem 0 2rem;
	text-align: center;
}

.login .login-body-main {
	display: flex;
	flex-wrap: wrap;
}

.login .login-body-main .login-social,
.login .login-body-main .login-form {
	flex: 1;
	min-width: 280px;
}

.login .login-body-main .login-social {
	padding-right: 1rem;
}

.login .login-body-main .login-social button {
	height: 50px;
	width: 100%;
	border-radius: 0.75rem;
	padding: 0 0.75rem 0;
	text-align: left;
	background: transparent;
	border: 2px solid #1877f2;
	outline: none;
}

.login .login-body-main .login-social button.kep-login-facebook {
	text-transform: initial;
	font-weight: 600;
}

.login .login-body-main .login-form {
	padding-left: 1rem;
}

.login .login-body-main .login-form form div {
	position: relative;
	flex: 1;
	width: 100%;
	border-radius: 0.75rem;
	margin-bottom: 1rem;
	background: #777;
	color: #eee;
	height: 50px;
	overflow: hidden;
}

.login .login-body-main .login-form label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	left: 0.75rem;
	transition: 0.2s;
}

.login .login-body-main .login-form input {
	border: none;
	outline: none;
	background: transparent;
	height: 100%;
	width: 100%;
	color: #fff;
	padding-left: 0.75rem;
	position: absolute;
	bottom: 0;
}

.login .login-body-main .login-form input:valid,
.login .login-body-main .login-form input:focus {
	height: 80%;
}

.login .login-body-main .login-form input:valid + label,
.login .login-body-main .login-form input:focus + label {
	top: 20%;
	font-size: 0.825rem;
	color: #ccc;
}

.forgot-password {
	margin: -0.5rem 0 1rem;
	text-align: right;
}

.forgot-password a {
	color: var(--main-green-color) !important;
	text-decoration: none !important;
}

.login .login-body-main form button {
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.6rem;
	border: none;
	outline: none;
	background: var(--main-green-color);
	font-weight: bold;
	color: var(--main-dark-color);
	margin-bottom: 1rem;
}

.login .login-body-main .login-form-suggest {
	text-align: center;
}

.login .login-body-main .login-form-suggest a {
	color: var(--main-green-color);
}

.login-or {
	position: relative;
	text-align: center;
	margin: 1rem 0;
}

.login-or span {
	background: var(--main-dark-color);
	z-index: 1;
	width: 40px;
	display: inline-block;
	position: relative;
}

.login-or::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	border: 1px solid var(--main-blue-color);
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 768px) {
	.login .login-body-main .login-social {
		order: 2;
	}

	.login .login-body-main .login-social {
		padding-right: 0;
	}
	.login .login-body-main .login-form {
		padding-left: 0;
	}
}
