.react-calendar-heatmap .color-green-1 {
	fill: #99ff99;
}
.react-calendar-heatmap .color-green-2 {
	fill: #66ff66;
}
.react-calendar-heatmap .color-green-3 {
	fill: #33ff33;
}
.react-calendar-heatmap .color-green-4 {
	fill: #00e600;
}

.react-calendar-heatmap .color-red-1 {
	fill: #ff9999;
}

.react-calendar-heatmap .color-red-2 {
	fill: #ff6666;
}
.react-calendar-heatmap .color-red-3 {
	fill: #ff3333;
}
.react-calendar-heatmap .color-red-4 {
	fill: #ff1a1a;
}

.swiper-slide svg {
	height: calc(100vh - 150px);
	width: 100%;
	position: relative;
}
.react-calendar-heatmap-month-labels {
	display: none;
}

.react-calendar-heatmap-all-weeks {
	position: absolute;
	top: 0;
}

.react-calendar-heatmap-all-weeks {
	transform: translate(0, 2px) !important;
}

.calendar-tooltip {
	width: fit-content;
}
