.change-password-wrapper {
	margin: 4rem auto;
}

.change-password {
	background-color: #ffffff;
	border-radius: 4px;

	min-width: 50%;
	max-width: 50%;
	margin: auto;
	padding: 2rem 3.5rem;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
	box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
}

.change-password .change-password__input {
	margin-bottom: 1.5rem;
}

.change-password .change-password__submit-btn {
	border: none;
	border-radius: 4px;
	background-color: var(--main-green-color);

	display: block;
	padding: 0.5rem 1rem;
	margin: auto;

	color: #ffffff;
}

.change-password .change-password__submit-btn:hover {
	background-color: var(--main-green-hover-color);
}

.change-password .change-password__submit-btn:focus {
	outline: none;
}

@media (max-width: 991.98px) {
	.change-password {
		min-width: 60%;
		max-width: 70%;
	}
}

@media (max-width: 767.98px) {
	.change-password {
		min-width: 70%;
		max-width: 80%;
	}
}

@media (max-width: 575.98px) {
	.change-password {
		min-width: 80%;
		max-width: 90%;
	}
}
