.form-btn.hide {
	pointer-events: none;
	background: rgb(205, 211, 211);
}

.form-btn {
	background: var(--main-green-color);
	pointer-events: auto;
	height: 40px;
	transition: 0.2s;
}

.form-btn:hover {
	background: var(--main-hover-green-color);
}

.form-btn .css-0 {
	display: flex;
	align-items: center;
	justify-content: center;
}
