.ExpenseModal .FlexLayout {
	display: flex;
}

.ExpenseModal .FlexLayout,
.ExpenseModal .ant-input {
	margin: 0.5rem 0rem;
}

.ExpenseModal .FlexLayout > div:first-child {
	flex-grow: 3.33;
}

.ExpenseModal .FlexLayout > div:nth-child(2) {
	flex-grow: 4.33;
	margin: 0rem 0.5rem;
}

.ExpenseModal .FlexLayout > div:last-child {
	flex-grow: 3.33;
}

@media (max-width: 575.98px) {
	.ExpenseModal .FlexLayout {
		display: flex;
		flex-direction: column;
	}

	.ExpenseModal .FlexLayout > div:nth-child(2) {
		margin: 1rem 0rem;
	}
}

/* Custom antd */

.ExpenseModal .ant-space-item .ant-picker.ant-picker-focused,
.ExpenseModal .ant-space-item .ant-picker:hover,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused.ant-select-single:not(.ant-select-customize-input)
	.ant-select-selector,
.ant-input:focus {
	border-color: var(--main-green-color) !important;
	box-shadow: none !important;
}

.ant-picker-panel-container a.ant-picker-today-btn,
.ant-picker-header-view button:hover {
	color: var(--main-green-color) !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before,
.ant-input:hover {
	border: 1px solid var(--main-green-color) !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
	color: #ffffff;
	background-color: var(--main-green-color) !important;
}
