.google-login {
	margin-top: 1rem;
	border-radius: 0.75rem;
	overflow: hidden;
	border: 2px solid #fa5d5d;
	background: transparent;
	height: 50px;
}

.google-login button {
	background: transparent !important;
	color: #fff !important;
	font-weight: 900 !important;
	font-size: 0.975rem !important;
	height: 100% !important;
	padding-left: 0.75rem !important;
}

.google-login button > div {
	padding: 0 !important;
	margin-right: 0.5rem !important;
	height: 1.5rem;
	width: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.google-login button > span {
	font-weight: 600 !important;
}
